<h2>Ürünler</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Ürün Adı</th>
      <th>Açıklama</th>
      <th>Kategori</th>
      <th>İşlemler</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList ; let i = index">
      <td>{{ i+1 }}</td>
      <td><img src="{{product.imageUrl}}" alt="Ürün Görseli" style="width: 100px; height: 105px;">{{ product.productName }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.category.categoryName }}</td>
      <td>
        <button class="btn btn-danger" style="margin-right: 5px;"><i class="fa fa-trash"></i>Sil</button>
        <button class="btn btn-primary" ><i class="fa fa-pencil" aria-hidden="true"></i>Güncelle</button>
      </td>
    </tr>
  </tbody>

</table>
<button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#createModal"><i class="fa fa-plus" aria-hidden="true"></i>Yeni Ürün Ekle</button>




<!--Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form #createForm="ngForm" (ngSubmit)="create(); createForm.resetForm()">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">Yeni Kategori Ekle</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


          <div class="form-group ">
            <label class="form-label">Ürün Adı</label>
            <input type="text" [(ngModel)]="product.productName" class="form-control" name="productName" placeholder="Ürün Adı" required="">

            <div *ngIf="errors?.ProductName" class="alert alert-danger mt-2">
            <span *ngFor="let error of errors.ProductName">{{error}}</span>
            </div>

          </div>

          <div class="form-group ">
            <label class="form-label">Ürün Görseli</label>
            <input type="text" [(ngModel)]="product.imageUrl" class="form-control" name="imageUrl" placeholder="Ürün Görseli" required="">

            <div *ngIf="errors?.ImageUrl" class="alert alert-danger mt-2">
              <span *ngFor="let error of errors.ImageUrl">{{error}}</span>
              </div>

          </div>

          <div class="form-group ">
            <label class="form-label">Açıklama</label>
            <textarea type="text" [(ngModel)]="product.description" class="form-control" name="description" placeholder="Açıklama" required=""></textarea>

            <div *ngIf="errors?.Description" class="alert alert-danger mt-2">
              <span *ngFor="let error of errors.Description">{{error}}</span>
              </div>

          </div>

          <div class="form-group ">
            <label class="form-label">Kategori</label>
            <select class="form-control" [(ngModel)]="product.categoryId" name="categoryId">
             <option *ngFor="let category of categoryList" value="{{category.id}}">{{ category.categoryName }}</option>
            </select>

            <div *ngIf="errors?.CategoryId" class="alert alert-danger mt-2">
              <span *ngFor="let error of errors.CategoryId">{{error}}</span>
              </div>

          </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-primary">Kaydet</button>
      </div>
    </div>
  </form>
  </div>
</div>
